/* body */

.container {
    background: url(../images/informatique.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 16rem;
    height: 88vh;
}


p {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 16rem;
    padding-bottom: 0px;
}

.c2fde {
    color: #EB0000;
    font-family: 'signature';
    font-size: 13rem;
}

/* body */