/* body */
@font-face {
    font-family: 'signature';
    src: url(../font/Signature/Signature.otf);
}

@font-face {
    font-family: 'poppinss';
    src: url(../font/Poppins/Poppins-Light.ttf);
}

.container {
    background: url(../images/informatique.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 16rem;
    height: 87vh;
}


p {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-bottom: 0px;
    font-family: 'poppinss';
}

.c2fde {
    color: #EB0000;
    font-family: 'signature';
    font-size: 13rem;
}

/* body */