/* footer */

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    background: rgb(0, 0, 0);
    border-top: 1px solid;
    border-color: rgb(255, 255, 255, .9);
    height: 6rem;
    width: 100%;
}

footer p {
    color: white;
    margin-right: 30px;
    padding: 0%;
    font-size: 15px;
}

/* footer */